[submodule "cimgui"]
	path = cimgui
	url = https://github.com/cimgui/cimgui
[submodule "bc7enc"]
	path = bc7enc
	url = https://github.com/richgel999/bc7enc
[submodule "bc7enc_rdo"]
	path = bc7enc_rdo
	url = https://github.com/richgel999/bc7enc_rdo
[submodule "Refresh"]
	path = Refresh
	url = git@github.com:MoonsideGames/Refresh
[submodule "msdf-atlas-gen"]
	path = msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen
[submodule "qoa"]
	path = qoa
	url = https://github.com/phoboslab/qoa
[submodule "Cram"]
	path = Cram
	url = git@github.com:MoonsideGames/Cram
[submodule "SDL"]
	path = SDL
	url = git@github.com:libsdl-org/SDL
[submodule "FAudio"]
	path = FAudio
	url = https://github.com/FNA-XNA/FAudio
[submodule "dr_libs"]
	path = dr_libs
	url = https://github.com/mackron/dr_libs
